input-component {
  
  label {
    font-size: 13px;
    margin-top: 11px;
    margin-left: 9px;
    position: absolute;
  }

  input {
    border-radius: 4px;
    width: 100%;
    border: 1px $theme-main-dark solid;
    margin: 0;
    padding: 20px 8px 0px 8px;
    height: 40px;
    transition: all ease-in-out .5s;
    font-size: 14px;

    &:focus {
      background-color: $theme-main-blue-light;
      border-top: 1px $theme-main-blue-light solid;
      border-left: 1px $theme-main-blue-light solid;
      border-right: 1px $theme-main-blue-light solid;
      border-bottom: 2px $theme-main-blue solid;
      outline: none;
    }

    &:disabled {
      background-color: $theme-main-grey-light;
    }
  }
}
